flows.json
[{"id":"816ad329.262c68","type":"change","z":"2ec06590.143d6a","name":"Start Transaction","rules":[{"t":"set","p":"payload.data","pt":"msg","to":"{\"connectorId\":1,\"chargePointErrorCode\":\"No Error\",\"status\":\"Charging\",\"errorCode\":\"NoError\"}","tot":"json"},{"t":"set","p":"payload.command","pt":"msg","to":"StartTransaction","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":440,"wires":[["369607e6.9b544"]]},{"id":"69fa61d8.24e68","type":"inject","z":"2ec06590.143d6a","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"chargePointVendor\":\"Tritium\",\"chargePointModel\":\"Veefil RT (Single Connector)\"}","payloadType":"json","x":270,"y":200,"wires":[["7642b614.336b18"]]},{"id":"127ddd70.917df3","type":"debug","z":"2ec06590.143d6a","name":"Client inititated - No response needed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1130,"y":200,"wires":[]},{"id":"8e95b115.fe10f8","type":"inject","z":"2ec06590.143d6a","name":"","repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"chargePointVendor\":\"Tritium\",\"chargePointModel\":\"Veefil RT (Single Connector)\"}","payloadType":"json","x":270,"y":260,"wires":[["53337125.334cd8"]]},{"id":"7642b614.336b18","type":"change","z":"2ec06590.143d6a","name":"Boot Notification","rules":[{"t":"set","p":"payload.data","pt":"msg","to":"{\"chargePointVendor\":\"Tritium\",\"chargePointModel\":\"Veefil RT (Single Connector)\"}","tot":"json"},{"t":"set","p":"payload.command","pt":"msg","to":"BootNotification","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":200,"wires":[["803ca370.5e0fb8"]]},{"id":"53337125.334cd8","type":"change","z":"2ec06590.143d6a","name":"Heart Beat","rules":[{"t":"set","p":"payload.data","pt":"msg","to":"temp","tot":"msg"},{"t":"set","p":"payload.command","pt":"msg","to":"Heartbeat","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":260,"wires":[["803ca370.5e0fb8"]]},{"id":"803ca370.5e0fb8","type":"CP client JSON","z":"2ec06590.143d6a","name":"","cbId":"","remotecs":"","ocppver":"1.6j","command":"","cmddata":"","log":true,"pathlog":"occp.log","x":640,"y":260,"wires":[["b660c902.14559","c7243552.ab6ed"]]},{"id":"123ce675.6e32ca","type":"change","z":"2ec06590.143d6a","name":"Status Notification","rules":[{"t":"set","p":"payload.data","pt":"msg","to":"{\"connectorId\":1,\"chargePointErrorCode\":\"No Error\",\"status\":\"Available\",\"errorCode\":\"NoError\"}","tot":"json"},{"t":"set","p":"payload.command","pt":"msg","to":"StatusNotification","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":320,"wires":[["803ca370.5e0fb8"]]},{"id":"4c732ae7.4a3d94","type":"inject","z":"2ec06590.143d6a","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":270,"y":320,"wires":[["123ce675.6e32ca"]]},{"id":"fac28c0c.c08338","type":"debug","z":"2ec06590.143d6a","name":"Yet to be implemented","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1420,"y":480,"wires":[]},{"id":"b660c902.14559","type":"switch","z":"2ec06590.143d6a","name":"What to do","property":"ocpp.command","propertyType":"msg","rules":[{"t":"eq","v":"Heartbeat","vt":"str"},{"t":"eq","v":"StatusNotification","vt":"str"},{"t":"eq","v":"BootNotification","vt":"str"},{"t":"eq","v":"RemoteStartTransaction","vt":"str"},{"t":"eq","v":"RemoteStopTransaction","vt":"str"},{"t":"eq","v":"Reset","vt":"str"},{"t":"eq","v":"GetConfiguration","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":8,"x":870,"y":260,"wires":[["127ddd70.917df3"],["127ddd70.917df3"],["127ddd70.917df3"],["667b7e98.5bf24"],["c9e0fd81.2b4728"],["6ff55bb8.48270c"],["b79485bd.24e89"],["11e3b3fb.bfb504"]]},{"id":"d6e202ea.9b159","type":"change","z":"2ec06590.143d6a","name":"Meter Values","rules":[{"t":"set","p":"payload.data","pt":"msg","to":"{\"connectorId\":1,\"chargePointErrorCode\":\"No Error\",\"status\":\"Charging\",\"errorCode\":\"NoError\"}","tot":"json"},{"t":"set","p":"payload.command","pt":"msg","to":"MeterValues","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":380,"wires":[[]]},{"id":"bd7af587.90cc7","type":"change","z":"2ec06590.143d6a","name":"Stop Transaction","rules":[{"t":"set","p":"payload.data","pt":"msg","to":"{\"connectorId\":1,\"chargePointErrorCode\":\"No Error\",\"status\":\"Charging\",\"errorCode\":\"NoError\"}","tot":"json"},{"t":"set","p":"payload.command","pt":"msg","to":"StopTransaction","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":500,"wires":[[]]},{"id":"47399102.22f5a8","type":"inject","z":"2ec06590.143d6a","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":380,"wires":[["d6e202ea.9b159"]]},{"id":"4def3bc3.22ed8c","type":"inject","z":"2ec06590.143d6a","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":440,"wires":[["816ad329.262c68"]]},{"id":"8cda7287.0a6bb8","type":"inject","z":"2ec06590.143d6a","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":500,"wires":[["bd7af587.90cc7"]]},{"id":"667b7e98.5bf24","type":"function","z":"2ec06590.143d6a","name":"RemoteStartTransaction response","func":"msg.old = msg.payload\nconnectorId = msg.payload.data.connectorId\nidTag = msg.payload.data.idTag\n\nmsg.payload = {}\n\nmsg.payload.MessageId = msg.ocpp.MessageId;\nmsg.payload.msgType = 3;\nmsg.payload.data = {\"status\" : \"Accepted\" }\n\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":240,"wires":[["2f63e2df.0f9436","279378c9.ca579"]]},{"id":"2f63e2df.0f9436","type":"link out","z":"2ec06590.143d6a","name":"","links":["7ca887e8.82a748"],"x":1515,"y":340,"wires":[]},{"id":"7ca887e8.82a748","type":"link in","z":"2ec06590.143d6a","name":"startRemoteTransaction","links":["2f63e2df.0f9436"],"x":475,"y":140,"wires":[["803ca370.5e0fb8","4e27d980.d460a"]]},{"id":"dde64f2c.6738c8","type":"change","z":"2ec06590.143d6a","name":"Start Transaction","rules":[{"t":"set","p":"payload.data","pt":"msg","to":"next.data","tot":"msg"},{"t":"set","p":"payload.command","pt":"msg","to":"next.command","tot":"msg"},{"t":"set","p":"payload.msgType","pt":"msg","to":"next.msgType","tot":"msg"},{"t":"set","p":"payload.MessageId","pt":"msg","to":"next.msgId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1750,"y":240,"wires":[[]]},{"id":"6ff55bb8.48270c","type":"function","z":"2ec06590.143d6a","name":"Reset response","func":"msg.payload.MessageId = msg.ocpp.MessageId;\nmsg.payload.msgType = 3;\nmsg.payload.data = {\"status\" : \"Accepted\" }\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":320,"wires":[["2f63e2df.0f9436"]]},{"id":"c9e0fd81.2b4728","type":"function","z":"2ec06590.143d6a","name":"RemoteStopTransaction response","func":"msg.old = msg.payload\nmsg.payload.MessageId = msg.ocpp.MessageId;\nmsg.payload.msgType = 3;\nmsg.payload.data = {\"status\" : \"Rejected\" }\n\n\n\nlet startTransaction = {}\n\nstartTransaction.command = \"startTransaction\"\nstartTransaction.data =\n{\n    \"connectorId\" : 1,\n    \"idTag\" : msg\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":280,"wires":[["2f63e2df.0f9436"]]},{"id":"4e27d980.d460a","type":"debug","z":"2ec06590.143d6a","name":"Reponse message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":720,"y":140,"wires":[]},{"id":"c7243552.ab6ed","type":"debug","z":"2ec06590.143d6a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":980,"y":100,"wires":[]},{"id":"b79485bd.24e89","type":"function","z":"2ec06590.143d6a","name":"GetConf response","func":"let config = {\n    HeartbeatInterval: 20,\n}\n\nlet KeyValues = [];\n\nlet KeyValue = {\n    key: msg.payload.data.key[0],\n    value: config[msg.payload.data.key[0]],\n    readonly: true\n};\n\nKeyValues.push(KeyValue);\n\n// Copy over the request messageId to be used\n// in the response\nmsg.payload.MessageId = msg.ocpp.MessageId;\n\n// Our response data gets put into the payload.data\nmsg.payload.data = KeyValues;\n\n//\n// For responses to CS requests (such as GetConfig)\n// the CP JSON Client should set the message type to 3\nmsg.payload.msgType = 3;\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":360,"wires":[["2f63e2df.0f9436"]]},{"id":"369607e6.9b544","type":"function","z":"2ec06590.143d6a","name":"Create start Txn","func":"\nlet date = new Date();\nlet iso = date.toISOString()\nlet startData =\n{\n    \"connectorId\" : 1,\n    \"idTag\" : \"1234\",\n    \"meterStart\" : 4100,\n    \"timestamp\" : iso,\n    \"reservationId\": null\n    \n}\n\nmsg.payload = {}\nmsg.payload.command = \"StartTransaction\";\nmsg.payload.data = startData;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":440,"wires":[["803ca370.5e0fb8","1e9a12d6.600d55"]]},{"id":"1e9a12d6.600d55","type":"debug","z":"2ec06590.143d6a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":480,"wires":[]},{"id":"11e3b3fb.bfb504","type":"function","z":"2ec06590.143d6a","name":"Generic Response ","func":"msg.old = msg.payload\nconnectorId = msg.payload.data.connectorId\nidTag = msg.payload.data.idTag\n\nmsg.payload = {}\n\nmsg.payload.MessageId = msg.ocpp.MessageId;\nmsg.payload.msgType = 3;\nmsg.payload.data = {\"status\" : \"Accepted\" }\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":400,"wires":[["2f63e2df.0f9436","fac28c0c.c08338"]]},{"id":"279378c9.ca579","type":"delay","z":"2ec06590.143d6a","name":"Delay before sending StartTransaction","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1470,"y":240,"wires":[["dde64f2c.6738c8"]]}]